<div class="pic-show col-md-4">
  <% if @wiki.clips.empty? %>
   <p> No Videos Posted<p>
  <% else %>
    <% @wiki.clips.each do |clip| %>
      <div class="video-index">
        <%= video_tag clip.video.url(:medium), controls: true, type: "video/mp4", style: "max-width: 100%;" %>
      </div>
    <% end %>
  <% end %>
</div>
