<div class="container guidelines">
  <h1>Travelog Guidelines</h1>
  <section class="rules">
    <h4>We ask that you respect the Travleog community and guidelines. Content violating any of the rules below will be removed. A second violation by the user will result in a permanent removal of the account.</h4>
    <p>Nudity or sexually explicit content.</p>
    <p>Violent or graphic content.</p>
    <p>Hateful content.</p>
    <p>Spam or misleading content.</p>
    <p>Content that violates any copyrights.</p>
  </section>
</div>
