<section class="how-info" id="how">
  <h1 class="how-title">How It Works</h1>
    <div class="border-style"></div>
  <div class="container info-row">
    <article class="info-group col-sm-4">
      <p class="how-img glyphicon glyphicon-camera"></p>
      <p class="how-text">Record Stories</p>
      <p class="how-desc">Travelled recently? With Travelog you can log your adventure for memories or share with others. Keep your adventures momorable.  <p>
    </article>
    <article class="info-group col-sm-4">
      <p class="how-img glyphicon glyphicon-cloud-upload"></p>
      <p class="how-text">Share Memories</p>
      <p class="how-desc">Have any pictures, videos, or stories from your vacation? Add them to your log. Add as many photos or videos as you want. The more the better.<p>
    </article>
    <article class="info-group col-sm-4">
      <p class="how img glyphicon glyphicon-thumbs-up"></p>
      <p class="how-text">Interact With Others</p>
      <p class="how-desc">Explore the world from a different perspective. Check out other logs people have written. See one that interests you? Leave a comment, like, or message that person to know more.<p>
    </article>
  </div>
</section>
