<div class="pic-show">
    <% if @wiki.pics.empty? %>
   <p> No Images Posted<p>
     <% else %>
  <% @wiki.pics.each do |pic| %>
  <div class="row col-md-4"><%= image_tag(pic.image.url(:album))%></div>
  <% end %>
  <% end %>
</div>
