<div class="container">
  <h1 class="wiki-title"> Current Wikis</h1>
  <div class="container col-md-12 wiki-btn">
    <%= link_to "New Wiki", new_wiki_path, class: 'btn btn-success' %>
  </div>
  <div class="row main">
      <% @wikis.each do |wiki| %>
          <div class="wiki-style col-md-4">
              <%= image_tag(wiki.image.url(:medium)) %>
            </br>
              <a class="link"><%= link_to wiki.title, wiki %></a>
            </h4>
            <p> About this Wiki: <%= wiki.description %> </p>
            </div>
      <% end %>
    </div>
  </div>
