<div class="container main">
  <h1 class="title-all"><%= @wikis.count %> Results</h1>
  <% if @wikis.present? %>
    <%= render 'wikis/showall'%>
  <% else %>
    <p>There are no posts containing the term(s) <%= params[:search] %>.</p>
  <% end %>
</div>
<%= render 'layouts/footer' %>
