/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import 'slick';
 @import 'slick-theme';
 @import 'lightbox';
 @import "bootstrap-sprockets";
 @import "bootstrap";

html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
}

.bar {
    width: 100%;
}
.navigation {
  color: rgba(1,1,1,.4);
  background-color: white;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 1px solid rgba(1, 1, 1, .2);

  a {
  color: rgba(1,1,1,.5);
  font-size: 16px;
  font-weight: 400;
  margin-right: -10px;
  }
}

.navbar-left {
  float: right;
}

.form-div {
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
height: 400px;
max-width: 500px;
padding: 19px 29px 29px;
margin: 0 auto 20px;
background-color: rgba(255, 255, 255, .8);
border: 2px solid #e5e5e5;
margin-top: 20px;
text-align: center;
-webkit-border-radius: 5px;
   -moz-border-radius: 5px;
        border-radius: 5px;
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0);
   -moz-box-shadow: 0 1px 2px rgba(0,0,0,0);
        box-shadow: 0 1px 2px rgba(0,0,0,0);
}

.form-div input[type="text"],
.form-div input[type="email"],
.form-div input[type="password"] {
  font-size: 16px;
  height: auto;
  padding: 3px 12px;
  border-radius: 5px;
  width: 372px;
  margin-bottom: 20px;
}

.form-div .actions .btn {
  margin-top: 5px;
}
.collab input[type="text"]{
  font-size: 16px;
  height: auto;
  padding: 3px 12px;
  border-radius: 5px;
  width: 372px;
  margin-bottom: 20px;
}

.pull-right {
  float: right !important;
}

  .avatar-btn img {
    margin-top: 3.5px;
    margin-right: 10px;
  }
  .home-circle {
  text-align: center;
  margin-top: 20px;
  }
.home-circle img {
  width: 400px;
  height: 350px;
  margin: 30px;
}

.heading-one {
  text-align: center;
  border-top: 1px solid rgba(1, 0, 1, .2);
}

.captions {
  display: -webkit-box;
  position: absolute;
  z-index: 100;
  padding: 170px;
  color: white;
  font-weight: 500;
  text-shadow: 1px 1px black;
}

.captions h2 {
  padding-left: 200px;
}

.captions a {
  color: white;
}

.captions a:hover{
  text-decoration: none;
}


.captions h2:nth-child(2){
  padding-right: 170px;
}

.captions h2:nth-child(1){
  padding-left: 30px;
  padding-right: 170px;
}

.btn-avatar {
  padding: 0px;
  margin-top: 2px;
  border: none;
  background: none;

  img {
    height: 30px;
  }
}

.avatar-button {
  padding-right: 10px;
  padding-top: 4px;
}

.registration {
  margin-left: 30px;
}

.title-all {
  border-bottom: 1px solid rgba(1, 0, 1, .2);
}

.scroller {
  div {
    text-align: center;
    font-size: 30px;
  }
}

.slick-prev::before, .slick-next::before {
  color: #000;
}

.slick-next {
  right: 5px;
}

.slick-prev {
  left: -33px;
}

.scroller .slick-slider{
  padding-left: 25px;
}

.alert-wrapper {
    padding: 15px;
    position: absolute;
    z-index: 100;
    background: rgba(11, 233, 203, .8);
    border-radius: 3px;
    width: 100%;
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: .5px;
}

.notification-btn {
  padding-right: 10px;
  padding-top: 10px;
  display: flex;
  letter-spacing: 3px;
}

.glyphicon {
  font-size: 20px;
}

.btn-avatar-notification {
  border: none;
  background: none;
  display: flex;
  padding: 3px;
}

.dropdown-menu {
  letter-spacing: .5px;
}

.presentation {
  border-right: 1px solid rgba(1,1,1,.2);
  padding-right: 14px;
}

.nav-logo {
  height: 42px;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  background-color: grey;
  height: 200px;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

.nav-index {
  height: 50px;
  text-align: center;
  font-size: 16px;
  padding-top: 10px;
  border-bottom: 1px solid rgba(1, 1, 1, .2);
  width: 100%;
  padding-right: 25px;

    a {
      color: rgba(1, 1, 1, .5);
      margin-right: 40px;
      border-bottom: 1px solid rgba(1,1,1,.1);
      text-decoration: none;
        &:hover {
          color: #222;

        }
    }
}
