// Place all the styles related to the images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.pic-show {
  margin-top: 20px;
    img {
    height: 200px;
    width: 330px;
    margin: 5px;
    }
}

.pic-delete {
  position: absolute;
  margin-top: -197px;
  margin-left: 15px;
}

.pic-each {
  text-align: center;
}
