// Place all the styles related to the images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.pic-show {

    img {
      padding: 5px;
      height: 300px;
      display: inline-block;
    }
}

.pic-delete {
  position: absolute;
  margin-top: -280px;
  margin-left: 15px;
}
