// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user-page {
  background-color: rgba(175, 170, 170, .3);
  height: 100%;
}

.user-heading {
  background-color: rgba(254, 254, 254, .5);
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 10px;
  display: -webkit-box;
  border: 1px solid rgba(1, 0, 1, .1);
}

.profile-image {
  padding-bottom: 10px;
  padding-right: 20px;
  border-right: 1px solid rgba(1, 0, 1, .2);
}

.profile-image-form {
  text-align: center;
  margin-left: 250px;
}

.profile-image-form input[type="file"] {
  margin-left: 248px;
}

.profile-image img {
  width: 200px;
	height: 200px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.user-data {
  padding-left: 20px;
}

.user-edit {
  border-bottom: 1px solid rgba(1, 0, 1, .2);
}

.edit-user-inputs {
  width: 250px;
}

.edit-profile-form {
  margin-left: 50px;
}

.user-description {
  margin-left: 30px;
  padding-top: 70px;
}

.user-posts-slick {
  zoom: 1;
    overflow: hidden;
    background-color: rgba(254, 254, 254, 0.5);
    border-radius: 5px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    min-width: 350px;
    max-height: 290px;
    font-size: 16px;
    margin-left: 29px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid rgba(1, 0, 1, .1);
    padding-left: 38px;
}

.user-posts-slick img {
  height: 180px;
  width: 310px;
}

.slick-caption {
  float: left;
  font-size: 16px;
  clear: left;
  margin-bottom: 0px;
}

.slick-caption-info {
  font-size: 12px;
  float: left;
  clear: left;
  margin-bottom: 0px;
  font-weight: 600;
}
