// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.carousel-caption, .cap {
  padding-bottom: 200px;
  font-size: 26px;
}

 h1, .top {
  font-size: 60px;
  margin-bottom: 220px;
}

.welcome-slick {
  background-color: rgba(254, 254, 254, 0.5);
  border-radius: 5px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  min-width: 350px;
  max-height: 290px;
  font-size: 16px;
  margin-left: 145px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px solid rgba(1, 0, 1, 0.1);
  padding-left: 38px;
  width: 80%;
}

.info-one {
  text-align: center;
  padding-top: 50px;

  img {
    height: 500px;
    width: 1000px;
  }

  h1 {
    position: absolute;
    padding-top: 50px;
    color: white;
    margin-left: 520px;
  }

  p {
    position: absolute;
    padding-top: 120px;
    margin-left: 520px;
    color: rgba(1,1,1,.5);
    font-size: 16px;
    }

    a {
      position: absolute;
      margin-top: 160px;
      margin-left: 300px;
      text-decoration: none;
      background-color: #287fb8;
      border: #287fb8;
      border-radius: 3px;
      padding: 10px;
      font-size: 16px;
      padding-left: 20px;
      padding-right: 20px;
      color: white;
    }
}

.info-two {
  text-align: center;
  padding-top: 50px;

  img {
    height: 500px;
    width: 1000px;
  }

  h1 {
    position: absolute;
    padding-top: 50px;
    color: white;
    margin-left: 250px;
  }

  p {
    position: absolute;
    padding-top: 120px;
    margin-left: 250px;
    color: rgba(255,255,255,.5);
    font-size: 16px;
    }

    a {
      color: white;
    }

    .btn-primary {
      position: absolute;
    }
}
