// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.carousel,.item,.active{
  height:100%;
  width: 100%;
}

.carousel-inner{
  height:100%;
}

#myCarousel {
  img{
    width: 100%;
    height: 100%;
  }
}

.home-nav {
  position: absolute;
  z-index: 100;
  width: 100%;
  padding-top: 20px;
  img {
    height: 42px;
  }
  ul {
    list-style: none;
  }
  li {
    padding-right: 20px;
  }
  .btn {
    border: 2px solid white;
    &:hover{
      background-color: white;
      a{
        color: grey;
      }
    }
  }
  a{
    color: white;
    font-size: 1rem;
  }
}

.welcome-slick {
  background-color: rgba(254, 254, 254, 0.5);
  border-radius: 5px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  min-width: 350px;
  max-height: 290px;
  font-size: 16px;
  margin-left: 145px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px solid rgba(1, 0, 1, 0.1);
  padding-left: 38px;
  width: 80%;
}

.info-one {
  text-align: center;
  padding-top: 50px;

  img {
    width: 1000px;
    height: 557px;
  }

  h1 {
    font-size: 45px;
    font-weight: 100;
    position: absolute;
    padding-top: 50px;
    color: white;
    margin-left: 520px;
  }

  p {
    position: absolute;
    padding-top: 120px;
    margin-left: 520px;
    color: rgba(1,1,1,.5);
    font-size: 16px;
    }

  a {
    position: absolute;
    margin-top: 160px;
    margin-left: 300px;
    background-color: #287fb8;
    border: #287fb8;
    border-radius: 3px;
    padding: 10px;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
  }
}

.info-two {
  text-align: center;
  padding-top: 50px;

  img {
    width: 1000px;
  }

  h1 {
    font-size: 45px;
    font-weight: 100;
    position: absolute;
    padding-top: 50px;
    color: white;
    margin-left: 300px;
  }

  p {
    position: absolute;
    padding-top: 120px;
    margin-left: 300px;
    color: rgba(255,255,255,.5);
    font-size: 16px;
    }

  a {
    color: white;
  }

  .btn-primary {
    position: absolute;
    margin-top: 160px;
    margin-left: 300px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
  }
}

.recent-log-container {
  margin-top: 40px;
  height: 400px;
  margin-left: -50px;
}

.logs-recent {
  display: -webkit-box;
  margin-left: 130px;
}

.logs-all{
  padding: 10px;
  img {
    width: 400px;
    height: 250px;
  }

  p {
    margin-top: 5px;
    font-size: 16px;
    color: rgba(1,1,1,.7);
  }
}

.recent-log-heading {
  color: rgba(1,1,1,.5);
  font-size: 24px;
  font-weight: 200;
  padding-top: 20px;
  a{
    font-size:16px;
  }
}

.how-info {
  text-align: center;
  height: auto;
  padding-bottom: 100px;
  margin-top: -20px;
  background-color: lightseagreen;
  //background-image: url("http://www.planwallpaper.com/static/images/cool-background.jpg");
  h1 {
    color: white;
    padding-top: 50px;
    font-weight: 100;
    font-size: 3rem;
  }
}

.info-group {
  margin-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.info-row {
  .glyphicon {
  font-size: 100px;
  color: darkorange;
  padding: 15px;
  margin: 10px;
  }
}

.border-style {
  border-bottom: 3px solid white;
  width: 50px;
  margin-left: 684px;
}

.how-text {
  font-size: 32px;
  font-weight: 100;
  color: white;
  text-align: left;
}

.how-desc {
  font-size: 18px;
  font-weight: 200;
  text-align: left;
  color: white;
}

.cap-one {
  margin: 0 auto;
  padding-bottom: 250px;
  h1 {
    font-size: 4.5rem;
  }
  p{
    font-size: 1.8rem;
  }
  a {
    font-size: 1.8rem;
    color: white;
  }
  .btn {
    border: 2px solid teal;
    background-color: teal;
    padding-left: 26px;
    padding-right: 26px;
    transition: .5s;
    &:hover {
      transform: scale(1.2);
    }
  }
}

.cap-two {
  margin: 0 auto;
  padding-bottom: 250px;
  h1 {
    font-size: 4.5rem;
  }
  p{
    font-size: 1.8rem;
  }
  a {
    font-size: 1.8rem;
    color: white;
  }
  .btn {
    border: 2px solid #F98825;
    background-color: #F98825;
    padding-left: 26px;
    padding-right: 26px;
    transition: .5s;
    &:hover {
      transform: scale(1.2);
    }
  }
}

.cap-three {
  margin: 0 auto;
  padding-bottom: 250px;
  h1 {
    font-size: 4.5rem;
  }
  p{
    font-size: 1.8rem;
  }
  a {
    font-size: 1.8rem;
    color: white;
  }
  .btn {
    border: 2px solid #098CE3;
    background-color: #098CE3;
    padding-left: 26px;
    padding-right: 26px;
    transition: .5s;
    &:hover {
      transform: scale(1.2);
    }
  }
}

.about {
  height: 100vh;

  h1 {
    font-size: 45px;
    font-weight: 400;
    border-bottom: 1px solid rgba(1,1,1,.1);
  }

  p{
    font-size: 18px;
    color: rgba(1,1,1,.4);
  }
}

.guidelines {
  height: 100vh;
  background-color: rgba(1,1,1,.05);
  h1 {
    border-bottom: 1px solid rgba(1,1,1,.2);
    font-weight: 400;
    font-size: 45px;
  }
}

.rules {
  background-color: white;
  padding: 10px;
  box-shadow: 0 0 1px;
  h4 {
    color: rgba(1,1,1,.6);
    font-weight: 400;
  }
  p {
    color: rgba(1,1,1,.5);
  }
}
