// Place all the styles related to the Wikis controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.row:before, .row:after {
  display:table;
}
.wiki-title {
  border-bottom: 1px solid;
}
.wiki-style {
  zoom: 1;
    overflow: hidden;
    background-color: rgba(250, 250, 250, .7);
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    padding-top: 15px;
    max-width: 350px;
    max-height: 290px;
    font-size: 16px;
    margin-left: 29px;
    margin-top: 10px;
    margin-bottom: 20px;
  }

.wiki-style img {
  height: 180px;
  width: 310px;
}

.media-heading .link a {
  color: white;
}

.container .image img {
  width: 400px;
  padding-top: 30px;
  display: block;
}

.main {
  background-color: rgba(168, 173, 175, .5);
  border-radius: 5px;
  margin: 7px;
}

.wiki-btn {
  margin-top: 5px;
  margin-bottom: 5px;
}

.media:first-child {
  margin-top: 15px;
}

.new-wiki-form {
  margin-left: 30px;
}
