// Place all the styles related to the Wikis controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.row:before, .row:after {
  display:table;
}

.wiki-style {
  zoom: 1;
  background-color: white;
  border-radius: 3px;
  padding-top: 15px;
  padding-bottom: 5px;
  min-width: 350px;
  font-size: 14px;
  margin-left: 29px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px solid rgba(1, 0, 1, .1);
}

.wiki-style img {
  height: 180px;
  width: 310px;
}

.media-heading .link a {
  color: white;
}

.container .image img {
  width: 400px;
  padding-top: 30px;
  display: block;
}

.main {
  width: 100%;
  background-color: rgba(175, 170, 170, 0.2);
}

.wiki-body  {
  padding-top: 20px;
  margin-top: -25px;
  margin-left: 171px;
  padding-left: 35px;
  display: inline-block;
  padding-right: 0px;
  border-right: 1px solid rgba(1, 1, 1, .2);
}

.wiki-info {
    border-bottom: 1px solid rgba(1, 0, 1, .2);
    padding-bottom: 15px;
    margin-top: -5px;
}

.wiki-info img {
  float: right;
  clear: right;
  width: 100px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.wiki-btn {
  margin-top: 5px;
  margin-bottom: 5px;
}

.media:first-child {
  margin-top: 15px;
}

.new-wiki-form {
  margin-left: 100px;
  width: 65%;
}

.wiki-image-top {
  text-align: center;

   .back {
     background-position: center;
   }
}

.wiki-image-top img {
  width: 1430px;
}

.wiki-details {
  margin-top: 0px;
}

.wiki-details h5 {
  margin-bottom: -2px;
}

.all-images-btn {
  position: absolute;
  margin-top: 500px;
  margin-left: 30px;
}

.all-videos-btn {
  position: absolute;
  margin-top: 500px;
  margin-left: 200px;
}

.link {
  font-size: 22px;
}

.wiki-user-username {
  float: right;
  padding-right: 28px;
  margin-top: -5px
}

.small-text {
  color: rgba(84, 82, 82, .7)
}

.desc-index {
  margin-bottom: 1px;
  border-bottom: 1px solid rgba(1, 1, 1, .1);
  margin-top: -4px;
}

.wiki-icons {
  letter-spacing: 100px;
  margin-left: 30px;
  padding-top: 5px;

  .glyphicon {
    font-size: 30px;
  }
}

.wiki-icons-tag {
  padding-right: 145px;
  padding-left: 27px;
}

.wiki-icons-content {
  border-bottom: 1px solid rgba(1, 1, 1, .2);
  padding-bottom: 10px;
}

.wiki-show-body {
  background-color: rgba(192, 192, 191, .2);
}

.wiki-description {
  background-color: white;
  margin-top: 10px;
  padding: 10px;
}

.comment-form-div {
  border-top: 1px solid  rgba(1, 1, 1, .2);
  margin-top: 10px;
}

.user-action {
  width: 200px;
  float: right;
}

.side-images {
  position: absolute;
  width: 30%;
  margin-left: 943px;

  img {
    padding: 3px;
    width: 90px;
    height: 60px;
    background-color: white;
    margin: 2px;
  }
}

.side-videos {
  position: absolute;
  width: 30%;
  margin-left: 943px;
  margin-top: 200px;

  img {
    padding: 5px;
    width: 90px;
    background-color: white;
  }
}


.index-title {
  border-bottom: 1px solid rgba(1, 1, 1, .2);
  font-weight: 200;
  color: rgba(1,1,1,.5);
}

.section-index {
  border-bottom: 1px solid rgba(1,1,1, .2);
}

.side-images-top {
  border-bottom: 1px solid rgba(1,1,1,.2);
  width: 200px;
  padding-left: 60px;
}

.comment-title {
  border-bottom: 1px solid rgba(1,1,1,.2);
  color: rgba(1,1,1,.5);
}

.wiki-show-index {
  width: 100%;
  border-bottom: 1px solid rgba(1,1,1,.2);
}

#show-title {
  font-size: 45px;
  font-weight: 100;
}
