// Place all the styles related to the Wikis controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.row:before, .row:after {
  display:table;
}
.wiki-title {
  border-bottom: 1px solid rgba(1, 0, 1, .2);
  padding-left: 200px;
}
.wiki-style {
  zoom: 1;
    overflow: hidden;
    background-color: rgba(254, 254, 254, 0.5);
    border-radius: 5px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    min-width: 350px;
    max-height: 290px;
    font-size: 16px;
    margin-left: 29px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid rgba(1, 0, 1, .1);
  }

.wiki-style img {
  height: 180px;
  width: 310px;
}

.media-heading .link a {
  color: white;
}

.container .image img {
  width: 400px;
  padding-top: 30px;
  display: block;
}

.main {
  padding-top: 20px;
  margin-top: -10px;
  margin-left: 171px;
  padding-left: 35px;
  display: inline-block;
  background-color: rgba(175, 170, 170, 0.3);
}

.wiki-btn {
  margin-top: 5px;
  margin-bottom: 5px;
}

.media:first-child {
  margin-top: 15px;
}

.new-wiki-form {
  margin-left: 30px;
}

.wiki-image-top {
  text-align: center;

   .back {
     background-position: center;
   }
}

.wiki-details {
  margin-top: -10px;
}

.wiki-details h5 {
  margin-bottom: -2px;
}

.all-images-btn {
  position: absolute;
  margin-top: 410px;
  margin-left: 30px;
}
