<div class="container">
  <div class="cat-captions">
    <% @categories.each do |category| %>
      <div class="cat-text"><%= link_to category.name, category %></div>
    <% end %>
  </div>
</div>
<div class="container cat-index-view">
  <h1 class="title-all"> Categories</h1>
  <div class="cat-idx index-all">
    <img src="http://cdni.condenast.co.uk/646x430/g_j/giza_cnt_30mar10_iStock_b.jpg">
  </div>
  <div class="cat-idx index-all">
    <img src="http://i1.wp.com/thepointsguy.com/wp-content/uploads/2015/05/shutterstock_160690853.jpg?resize=830%2C300">
  </div>
  <div class="cat-idx index-all">
    <img src="http://i0.wp.com/thepointsguy.com/wp-content/uploads/2015/02/Park-Hyatt-Sydney-Exterior-Opera-House-View.jpg?resize=830%2C300">
  </div>
  <div class="cat-idx index-all">
    <img src="http://i2.wp.com/thepointsguy.com/wp-content/uploads/2015/05/shutterstock_103780211.jpg?resize=830%2C300">
  </div>
  <div class="cat-idx index-all">
    <img src="http://www.whitakercenter.org/media/images/JER-Film-Stills-Sunset-Dustin-Farrell.jpg">
  </div>
  <div class="cat-idx index-all">
    <img src="https://artsemiotic123.files.wordpress.com/2014/08/times_square.jpg">
  </div>
  <div class="cat-idx index-all">
    <p>South America</p>
    <img src="http://www.lbvtravel.com/SiteContent/nx2/Sites/852-346344/CustomContent/slider_data1_images/machupichu.jpg">
  </div>
</div>
