<footer class="footer">
  <nav>
    <ul class="footer-links">
      <li><%= link_to "About Us", welcome_about_path %></li>
      <li><%= link_to "Guidelines", welcome_guidelines_path %></li>
    </ul>
  </nav>
</footer>
