<div class="sidebar">
  <div class="sidebar-hold">
    <span class="sidebar-content"> <%= link_to "Home", welcome_index_path, :class=>'glyphicon glyphicon-home' %></span>
    <span class="sidebar-content"> <%= link_to "Categories", categories_path, :class=>'glyphicon glyphicon-align-left' %></span>
  </div>
</div>
